.login {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.button {
  padding: 8px;
  border: none;
  padding-top: 10px;
  border-radius: 8px;
  background: blue;
  color: white;
  font-weight: 500;
  font-size: 19px;
}
